body {
  margin: 0;
  background-color: black;
  font-family: Arial, sans-serif;
}
.card {
  max-width: 300px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  border: 20px solid #160b0b; /* Agrega esta línea para el borde */
}

.card img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 16px;
}

.card-content h2 {
  margin-bottom: 8px;
  font-size: 1.5rem;
}

.card-content p {
  margin: 0;
  color: #555;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  border-top: 2px solid red;
}

.header-container {
  font-size: 24px; /* Ajusta el tamaño de la letra según tus preferencias */
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: black;
  padding: 10px;
  text-align: center;
  height: 10vh; /* Altura del 15% de la ventana gráfica (viewport height) */
  box-shadow: inset 0 0 10px rgba(200, 0, 0, 0.723); /* Efecto de difuminado en el borde */
}

.left-section {
  margin-right: 45px;

  /* Estilos específicos para la sección de la izquierda (DRIVER) */
}

.right-section {
  display: flex;
  align-items: center;
  width: auto;
  margin-right: 45px;
  color: rgb(142, 8, 8);
  gap: 50px;
  /* Estilos específicos para la sección de la derecha (DRIVER) */
}

.right-section div {
  flex: 1; /* Hace que los elementos se expandan de manera uniforme y ocupen el espacio disponible */
}

.search-container {
  /* Estilos para el contenedor de búsqueda */

  border-radius: 5px;
}

.search-container input {
  /* Estilos para el campo de búsqueda */

  padding: 5px;
  border-radius: 10px;
  border: 3px solid rgba(200, 0, 0, 0.723);
  width: 100%;
  font-size: 22px; /* Ajusta el tamaño de la letra según tus preferencias */
}

/* Header.css */
.image-container {
  margin-left: 45px;
  margin-right: 45px;
  width: 100%; /* Asegura que el contenedor de la imagen ocupe todo el ancho disponible */
  max-width: 200px; /* O ajusta según tus necesidades */
  margin-top: 15px; /* Espaciado superior */
}

.responsive-image {
  top: 0;
  width: 100%; /* La imagen ocupa el 100% del contenedor */
  height: auto; /* Mantiene la relación de aspecto */
}
.responsive-image-full {
  width: 100vw; /* El 100vw significa el 100% del ancho de la ventana gráfica (viewport width) */
  height: 99vh; /* El 100vh significa el 100% de la altura de la ventana gráfica (viewport height) */
  object-fit: cover; /* Mantiene la relación de aspecto y cubre el contenedor */
}
.CardContainer {
  display: flex;
  justify-content: space-between; /* Para que haya espacio entre las tarjetas */
  flex-wrap: wrap; /* Para que las tarjetas se envuelvan en una nueva línea cuando no haya suficiente espacio */
}

.Card {
  width: 300px;
  margin: 45px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  background-color: rgba(255, 0, 0, 0.425);
  position: relative;
  transition: transform 0.5s; /* Agregamos transición para suavizar el cambio de tamaño */
  box-shadow: inset 0 0 100px rgba(20, 20, 20, 0.975); /* Efecto de difuminado en el borde */
}

.Card:hover {
  border: 10px solid rgb(192, 27, 27); /* Añade un borde de 10px al pasar el mouse */
  box-shadow: inset 0 0 100px rgba(237, 57, 57, 0.975),
    0 0 10px rgba(247, 54, 54, 0.975); /* Efecto de difuminado en el borde */
  border-radius: 0;
  transform: scale(
    1.2
  ); /* Hace que el card se agrande al 120% al pasar el mouse sobre él */
  transition: transform 0.3s, border 0.3s, box-shadow 0.3s; /* Agrega transiciones suaves para transform, border y box-shadow */
  border-radius: 8px;
}

.contenedorRojo {
  background-color: red;
  padding: 10px; /* Agregar relleno según tus necesidades */
  position: absolute;
  bottom: 0; /* Alinear en la parte inferior */
  width: 100%; /* Ocupar el ancho completo del contenedor principal */
  color: #fff; /* Color de texto blanco */
  cursor: default; /* Evita que el cursor cambie al pasar el mouse sobre el elemento */
  box-shadow: inset 0 0 100px rgba(20, 20, 20, 0.975); /* Efecto de difuminado en el borde */
}

.Card p {
  margin: 5px 0; /* Agrega un espacio entre los párrafos dentro de la tarjeta */
}

.Card img {
  max-width: 100%; /* Hace que la imagen ocupe el 100% del contenedor */
  height: auto; /* Mantiene la proporción original de la imagen */
  display: block; /* Centra la imagen */
  margin: 10px auto; /* Agrega un espacio alrededor de la imagen y la centra horizontalmente */
}

.Card hr {
  border: 2px; /* Elimina el borde de la línea horizontal */
  height: 1px; /* Establece la altura de la línea horizontal */
  background: red; /* Establece el color de la línea horizontal */
  margin: 15px 0; /* Agrega un espacio antes y después de la línea horizontal */
}

.CardFormulaNumber {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  background: black;
  color: white;
  padding: 10px;
  border-top-left-radius: 10px;
  border-left: 3px solid red;
  cursor: default;
  transition: transform 0.5s; /* Agregamos transición para suavizar el cambio de tamaño */
}

.enlaceEstilizado {
  text-decoration: none; /* Quitar la línea por debajo del enlace */
  color: #333; /* Color del texto normal */
  transition: color 0.3s, font-size 0.3s; /* Agregar transiciones para suavizar el cambio de color y tamaño */
}

.enlaceEstilizado:hover {
  color: #d12f1b; /* Cambiar el color al pasar el mouse */
  font-size: 1.2em; /* Agrandar el texto al pasar el mouse */
}

.ExplanationContainer {
  color: rgba(204, 199, 199, 0.975); /* Color del texto */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0); /* Fondo difuminado */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0); /* Sombra difuminada */
  max-width: 600px; /* Ancho máximo del contenedor */
  text-align: center;
  box-shadow: inset 0 0 100px rgba(20, 20, 20, 0.441); /* Efecto de difuminado en el borde */
  justify-content: flex-start;
}

.ExplanationContainer h2 {
  color: #fff;
  font-style: italic;
  font-size: 30px;
  margin-bottom: 10px;
}

.ExplanationContainer p {
  color:#ffffffbf;
  line-height: 1.3;
  font-size: 20px;
  margin: 0;
}
.ButtonHome {
  margin-top: 5%;
  background-color: #d12f1b; /* Color de fondo */
  color: #fff; /* Color del texto */
  padding: 10px 20px; /* Relleno interno del botón */
  font-size: 18px; /* Tamaño de la fuente */
  border: none; /* Sin borde */
  border-radius: 5px; /* Borde redondeado */
  cursor: pointer; /* Cambia el cursor al pasar el mouse sobre el botón */
  transition: background-color 0.3s, color 0.3s; /* Agrega una transición suave */
  transition: transform 0.3s, border 0.3s, box-shadow 0.3s; /* Agrega transiciones suaves para transform, border y box-shadow */
}

.ButtonHome:hover {
  font-weight: bold;
  color: #d12f1b;
  background-color: white; /* Cambia el color de fondo al pasar el mouse */
  transform: scale(
    1.5
  ); /* Hace que el card se agrande al 120% al pasar el mouse sobre él */
  transition: transform 0.3s, border 0.3s, box-shadow 0.3s; /* Agrega transiciones suaves para transform, border y box-shadow */
}
